In [16]:
import sys
sys.path.append("..")
import pandas as pd
import numpy as np
from tqdm import tqdm

In [17]:
relations = pd.read_csv('../Data/CTD/CTD_chemicals_diseases.csv')

In [18]:
relations

,ChemicalName,ChemicalID,CasRN,DiseaseName,DiseaseID,DirectEvidence,InferenceGeneSymbol,InferenceScore,OmimIDs,PubMedIDs
0,06-Paris-LA-66 protocol,C046983,NaN,Precursor Cell Lymphoblastic Leukemia-Lymphoma,MESH:D054198,therapeutic,NaN,NaN,NaN,4519131
1,10074-G5,C534883,NaN,Adenocarcinoma,MESH:D000230,NaN,MYC,4.08,NaN,26432044
2,10074-G5,C534883,NaN,Adenocarcinoma of Lung,MESH:D000077192,NaN,MYC,4.32,NaN,26656844|27602772
3,10074-G5,C534883,NaN,Alopecia,MESH:D000505,NaN,AR,4.50,NaN,15902657
4,10074-G5,C534883,NaN,Androgen-Insensitivity Syndrome,MESH:D013734,NaN,AR,6.85,300068|312300,1303262|8281139
...,...,...,...,...,...,...,...,...,...,...
1048542,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,ABCC1,22.92,NaN,25078270
1048543,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,AFP,22.92,NaN,18497072
1048544,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,CYP1A1,22.92,NaN,16792888
1048545,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,CYP2B1,22.92,NaN,10811482|8640822
1048546,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,IL1B,22.92,NaN,16298037|17516992|28212736

In [19]:
relations = relations[['ChemicalID', 'DiseaseID', 'DirectEvidence', 'InferenceScore']]

In [20]:
relations

        ChemicalID        DiseaseID DirectEvidence  InferenceScore
0          C046983     MESH:D054198    therapeutic             NaN
1          C534883     MESH:D000230            NaN            4.08
2          C534883  MESH:D000077192            NaN            4.32
3          C534883     MESH:D000505            NaN            4.50
4          C534883     MESH:D013734            NaN            6.85
...            ...              ...            ...             ...
1048542    C006463     MESH:D001943            NaN           22.92
1048543    C006463     MESH:D001943            NaN           22.92
1048544    C006463     MESH:D001943            NaN           22.92
1048545    C006463     MESH:D001943            NaN           22.92
1048546    C006463     MESH:D001943            NaN           22.92

[1048547 rows x 4 columns]

In [21]:
indexs = []
for index, row in tqdm(relations.iterrows()):
    indexs.append(index)
    relations.at[index,'DiseaseID'] = row['DiseaseID']

1048547it [00:17, 59441.73it/s]

In [22]:
len(indexs)

1048547

In [23]:
relations = relations.loc[indexs]

In [24]:
relations['InferenceScore'].fillna(value=relations['InferenceScore'].mean(), inplace=True)

In [25]:
relations

        ChemicalID        DiseaseID DirectEvidence  InferenceScore
0          C046983     MESH:D054198    therapeutic       21.498833
1          C534883     MESH:D000230            NaN        4.080000
2          C534883  MESH:D000077192            NaN        4.320000
3          C534883     MESH:D000505            NaN        4.500000
4          C534883     MESH:D013734            NaN        6.850000
...            ...              ...            ...             ...
1048542    C006463     MESH:D001943            NaN       22.920000
1048543    C006463     MESH:D001943            NaN       22.920000
1048544    C006463     MESH:D001943            NaN       22.920000
1048545    C006463     MESH:D001943            NaN       22.920000
1048546    C006463     MESH:D001943            NaN       22.920000

[1048547 rows x 4 columns]

In [26]:
bool_series = relations.duplicated(keep='first')
relations = relations[~bool_series]

In [27]:
relations

        ChemicalID        DiseaseID DirectEvidence  InferenceScore
0          C046983     MESH:D054198    therapeutic       21.498833
1          C534883     MESH:D000230            NaN        4.080000
2          C534883  MESH:D000077192            NaN        4.320000
3          C534883     MESH:D000505            NaN        4.500000
4          C534883     MESH:D013734            NaN        6.850000
...            ...              ...            ...             ...
1048523    C006463     MESH:D001930            NaN       13.150000
1048528    C006463  MESH:D000070642            NaN       27.290000
1048533    C006463     MESH:D002545            NaN       22.890000
1048540    C006463     MESH:D001932            NaN        6.500000
1048542    C006463     MESH:D001943            NaN       22.920000

[471397 rows x 4 columns]

In [28]:
relations.to_csv('../Data/CTD/CTD_chemicals_diseases_result.csv')

In [30]:
relations["ChemicalID"].unique()

array(['C046983', 'C534883', 'C112297', ..., 'C005915', 'C000610085',
       'C006463'], dtype=object)

# Gen-disease

In [47]:
relations = pd.read_csv('../Data/CTD/CTD_genes_diseases.csv', skiprows=27)

/var/folders/1_/qyxyg7w97zn9hg9vmc38rn6r0000gn/T/ipykernel_1454/2396052427.py:1: DtypeWarning: Columns (4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  relations = pd.read_csv('../Data/CTD/CTD_genes_diseases.csv', skiprows=27)

In [52]:
len(relations)

94153737

In [51]:
relations

,# GeneSymbol,GeneID,DiseaseName,DiseaseID,DirectEvidence,InferenceChemicalName,InferenceScore,OmimIDs,PubMedIDs
0,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-BETA-HSD3,100174880.0,"Abnormalities, Drug-Induced",MESH:D000014,NaN,Endocrine Disruptors,5.21,NaN,22659286
2,11-BETA-HSD3,100174880.0,Amyotrophic Lateral Sclerosis,MESH:D000690,NaN,"Water Pollutants, Chemical",4.74,NaN,33562464
3,11-BETA-HSD3,100174880.0,Anemia,MESH:D000740,NaN,"Water Pollutants, Chemical",4.27,NaN,26546277
4,11-BETA-HSD3,100174880.0,"Anemia, Hemolytic",MESH:D000743,NaN,"Water Pollutants, Chemical",4.58,NaN,22425172
...,...,...,...,...,...,...,...,...,...
94153732,ZZZ3,26009.0,Wilms Tumor,MESH:D009396,NaN,Tretinoin,7.23,NaN,16287080
94153733,ZZZ3,26009.0,Xeroderma Pigmentosum,MESH:D014983,NaN,Tretinoin,4.02,NaN,8236244
94153734,ZZZ3,26009.0,Xerophthalmia,MESH:D014985,NaN,Cyclosporine,3.80,NaN,17120751
94153735,ZZZ3,26009.0,Xerostomia,MESH:D014987,NaN,"N-Methyl-3,4-methylenedioxyamphetamine",6.53,NaN,18356857
94153736,ZZZ3,26009.0,Xerostomia,MESH:D014987,NaN,Tretinoin,6.53,NaN,10741706

In [64]:
relations = relations[['# GeneSymbol', 'GeneID', 'DiseaseID']]

In [59]:
relations = relations[1:]

In [65]:
relations

          # GeneSymbol       GeneID     DiseaseID
1         11-BETA-HSD3  100174880.0  MESH:D000014
2         11-BETA-HSD3  100174880.0  MESH:D000690
3         11-BETA-HSD3  100174880.0  MESH:D000740
4         11-BETA-HSD3  100174880.0  MESH:D000743
5         11-BETA-HSD3  100174880.0  MESH:D053627
...                ...          ...           ...
94153732          ZZZ3      26009.0  MESH:D009396
94153733          ZZZ3      26009.0  MESH:D014983
94153734          ZZZ3      26009.0  MESH:D014985
94153735          ZZZ3      26009.0  MESH:D014987
94153736          ZZZ3      26009.0  MESH:D014987

[94153736 rows x 3 columns]

In [66]:
bool_series = relations.duplicated(keep='first')
relations = relations[~bool_series]

In [67]:
relations

          # GeneSymbol       GeneID     DiseaseID
1         11-BETA-HSD3  100174880.0  MESH:D000014
2         11-BETA-HSD3  100174880.0  MESH:D000690
3         11-BETA-HSD3  100174880.0  MESH:D000740
4         11-BETA-HSD3  100174880.0  MESH:D000743
5         11-BETA-HSD3  100174880.0  MESH:D053627
...                ...          ...           ...
94153709          ZZZ3      26009.0  MESH:D015431
94153731          ZZZ3      26009.0  MESH:D009396
94153733          ZZZ3      26009.0  MESH:D014983
94153734          ZZZ3      26009.0  MESH:D014985
94153735          ZZZ3      26009.0  MESH:D014987

[30373189 rows x 3 columns]

In [71]:
relations.to_csv('../Data/CTD/CTD_genes_diseases_result.csv', index=False)

In [78]:
dis_gens = dict()
for index, row in tqdm(relations.iterrows()):
    gene_id = row['GeneID']
    gene_name = row['# GeneSymbol']
    disease_infor = row['DiseaseID']
    if disease_infor not in dis_gens:
        dis_gens[disease_infor] = list()
    if gene_name not in dis_gens[disease_infor]:
        dis_gens[disease_infor].append(gene_name)

30373189it [58:52, 8598.72it/s]

In [83]:
from json import JSONEncoder
import os
import json

In [84]:
class ObjectEncoder(JSONEncoder):
    def default(self, o):
        return o.__dict__

In [86]:
with open('../Data/CTD/CTD_diseases_genes_dict.json', 'w+') as file:
    file.write(json.dumps(dis_gens, cls=ObjectEncoder, indent=2, sort_keys=True))

In [122]:
for x in range(1,10000):
    a= 80312**x
    b= 75870**1000
    if (a*b) % 123457 == 28934:
        print(x)

In [138]:
import pysbd
text = "While glaucoma can strike anyone, the risk is much greater for people over 60. How Glaucoma Develops There are several different types of glaucoma.A clear fluid flows through this chamber and bathes and nourishes the nearby tissues. (Watch the video to learn more about glaucoma."
seg = pysbd.Segmenter(language="en", clean=False)
print(seg.segment(text))

['While glaucoma can strike anyone, the risk is much greater for people over 60. ', 'How Glaucoma Develops There are several different types of glaucoma.A clear fluid flows through this chamber and bathes and nourishes the nearby tissues. ', '(Watch the video to learn more about glaucoma.']

In [140]:
import pysbd
text = "**While glaucoma can strike anyone, the risk is much greater for people over 60. How Glaucoma Develops There are several different types of glaucoma.A clear fluid flows through this chamber and bathes and nourishes the nearby tissues. (Watch the video to learn more about glaucoma."
seg = pysbd.Segmenter(language="en", clean=True)
print(seg.segment(text))

['**While glaucoma can strike anyone, the risk is much greater for people over 60.', 'How Glaucoma Develops There are several different types of glaucoma.', 'A clear fluid flows through this chamber and bathes and nourishes the nearby tissues.', '(Watch the video to learn more about glaucoma.']

In [141]:
a = "abc"

In [143]:
a[0].islower()

True

In [144]:
doc = nlp(" ")

In [145]:
doc

In [146]:
for token in doc:
    print(token)
    print(1)

1

In [147]:
doc = "  "

In [150]:
len(''.join(doc.split(" ")))

0