In [94]:
import sys
sys.path.append("..")
import pandas as pd
import numpy as np
from tqdm import tqdm

In [95]:
relations = pd.read_csv('../Data/CTD/CTD_chemicals_diseases.csv')

In [96]:
relations

,ChemicalName,ChemicalID,CasRN,DiseaseName,DiseaseID,DirectEvidence,InferenceGeneSymbol,InferenceScore,OmimIDs,PubMedIDs
0,06-Paris-LA-66 protocol,C046983,NaN,Precursor Cell Lymphoblastic Leukemia-Lymphoma,MESH:D054198,therapeutic,NaN,NaN,NaN,4519131
1,10074-G5,C534883,NaN,Adenocarcinoma,MESH:D000230,NaN,MYC,4.08,NaN,26432044
2,10074-G5,C534883,NaN,Adenocarcinoma of Lung,MESH:D000077192,NaN,MYC,4.32,NaN,26656844|27602772
3,10074-G5,C534883,NaN,Alopecia,MESH:D000505,NaN,AR,4.50,NaN,15902657
4,10074-G5,C534883,NaN,Androgen-Insensitivity Syndrome,MESH:D013734,NaN,AR,6.85,300068|312300,1303262|8281139
...,...,...,...,...,...,...,...,...,...,...
1048542,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,ABCC1,22.92,NaN,25078270
1048543,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,AFP,22.92,NaN,18497072
1048544,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,CYP1A1,22.92,NaN,16792888
1048545,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,CYP2B1,22.92,NaN,10811482|8640822
1048546,allyl alcohol,C006463,107-18-6,Breast Neoplasms,MESH:D001943,NaN,IL1B,22.92,NaN,16298037|17516992|28212736

In [97]:
relations = relations[['ChemicalID', 'DiseaseID', 'DirectEvidence', 'InferenceScore']]

In [98]:
relations

        ChemicalID        DiseaseID DirectEvidence  InferenceScore
0          C046983     MESH:D054198    therapeutic             NaN
1          C534883     MESH:D000230            NaN            4.08
2          C534883  MESH:D000077192            NaN            4.32
3          C534883     MESH:D000505            NaN            4.50
4          C534883     MESH:D013734            NaN            6.85
...            ...              ...            ...             ...
1048542    C006463     MESH:D001943            NaN           22.92
1048543    C006463     MESH:D001943            NaN           22.92
1048544    C006463     MESH:D001943            NaN           22.92
1048545    C006463     MESH:D001943            NaN           22.92
1048546    C006463     MESH:D001943            NaN           22.92

[1048547 rows x 4 columns]

In [99]:
indexs = []
for index, row in tqdm(relations.iterrows()):
    if 'MESH' in row['DiseaseID']:
        indexs.append(index)
        relations.at[index,'DiseaseID'] = row['DiseaseID'].split(':')[1]

1048547it [00:19, 54967.57it/s]

In [100]:
relations = relations.loc[indexs]

In [101]:
relations['InferenceScore'].fillna(value=relations['InferenceScore'].mean(), inplace=True)

In [105]:
relations

        ChemicalID   DiseaseID DirectEvidence  InferenceScore
0          C046983     D054198    therapeutic       21.788326
1          C534883     D000230            NaN        4.080000
2          C534883  D000077192            NaN        4.320000
3          C534883     D000505            NaN        4.500000
4          C534883     D013734            NaN        6.850000
...            ...         ...            ...             ...
1048542    C006463     D001943            NaN       22.920000
1048543    C006463     D001943            NaN       22.920000
1048544    C006463     D001943            NaN       22.920000
1048545    C006463     D001943            NaN       22.920000
1048546    C006463     D001943            NaN       22.920000

[1030472 rows x 4 columns]

In [117]:
bool_series = relations.duplicated(keep='first')
relations = relations[~bool_series]

In [118]:
relations

        ChemicalID   DiseaseID DirectEvidence  InferenceScore
0          C046983     D054198    therapeutic       21.788326
1          C534883     D000230            NaN        4.080000
2          C534883  D000077192            NaN        4.320000
3          C534883     D000505            NaN        4.500000
4          C534883     D013734            NaN        6.850000
...            ...         ...            ...             ...
1048523    C006463     D001930            NaN       13.150000
1048528    C006463  D000070642            NaN       27.290000
1048533    C006463     D002545            NaN       22.890000
1048540    C006463     D001932            NaN        6.500000
1048542    C006463     D001943            NaN       22.920000

[453821 rows x 4 columns]

In [123]:
relations.to_csv('../Data/CTD/CTD_chemicals_diseases_result.csv')